.diferencial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    margin-bottom: 6rem;
}

.diferencial__icone {
    stroke: var(--verde);
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}