.produto {
    background-color: var(--branco);
    width: fit-content;
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
}

.produto__icone {
    stroke: var(--verde);
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
    margin-bottom: 0;
    margin-right: 1em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}